<main role="main" property="mainContentOfPage" class="container">
	
  <div class="mwstext section">
    <h2 id="mwsfeatures">Developer API's available for subscription</h2>
    <form class="background-light">
        <label for="home-mail">Search catalogs</label>
        <input type="text" id="home-mail" size="30" />
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
    </form>
    <div class="wb-eqht row mrgn-tp-lg modal-demo">
      
      <!-- 
      THIS IS THE SECTION THAT HOLDS THE TENENT PANELS THAT ARE
      DYNAMICALLY GENERATED VIA THE SERVER APIS
      -->
      
      <div class="col-md-4"  ng-repeat="tenant in tenants">
        <section class="panel panel-primary">
          <header class="panel-heading">
            <h5 class="panel-title">{{tenant.name}}</h5>
          </header>
          <div class="panel-body" >
            
            <div class="newspaper" >
            
            <ul ng-repeat="service in tenant.apis.services">
            <li>
            {{service.service.name}}
            </li>
            </ul>
            
            <!--   <div ng-repeat="service in tenant.apis.services" >{{service.service.name}}  <br/>
              Publish Date: {{service.service.created_at}} 
              </div> -->
          </div>
          <hr/>
          <!-- THESE ICONS EITHER TAKE YOU TO THE LOCAL VIEWER OR DIRECTLY TO THE DEVELOPER PORTAL-->
          <div style="float: left">
             <!--  <img src="assets/telescope.png" style="height:22px" ng-click="openDetails(tenant.name)"/> -->
              <a href="https://{{tenant.domain}}" target="_blank">
                <img src="assets/register-icon-bl-gr.png" style="height:23px"/>
              </a>
          </div>
          <!-- <div style="float: right">
              THESE ICONS ARE PLACEHOLDERS
              <img src="assets/github.png" style="height:20px" ng-click="open('lg', 'foo')"/>
              <img src="assets/slack_Icon.png" style="height:22px" ng-click="open('lg', 'foo')"/>-->
          </div> 
        </section>
      </div>
    </div>
    
</div>
  
    <div class="col-sm-3 mrgn-tp-sm pull-right">
      <div class="wb-share" data-wb-share='{&#34;lnkClass&#34;: &#34;btn btn-default btn-block&#34;}'></div>
    </div>
    <div class="datemod col-xs-12 mrgn-tp-lg">
      <dl id="wb-dtmd">
        <dt>Date modified:</dt>
        <dd>
          <time property="dateModified">2018-07-25</time>
        </dd>
      </dl>
    </div>
 
</main>
